    <div class="login-container">
      <h2>Login</h2>
      <button mat-raised-button color="primary" (click)="login()">Sign in with Google</button>
    </div>

<script src="https://accounts.google.com/gsi/client" async></script>
<mat-card>
    <mat-card-header>
        <mat-card-title>Щоденник Тиску</mat-card-title>
        <mat-card-subtitle>Записуйте та відстежуйте свої показники</mat-card-subtitle>
    </mat-card-header>
      <mat-card-actions>
    <button mat-button>Learn More</button>
  </mat-card-actions>
</mat-card>




<header class="text-center">
    <h1 class="text-4xl font-bold text-sky-400">Щоденник Тиску</h1>
    <!-- <p class="text-slate-400 mt-2">Записуйте та відстежуйте свої показники</p> -->
</header>

<div id="authContainer" class="my-6 text-center">
    <div id="signInButtonContainer" class="flex justify-center">
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" data-width="240" data-height="50"
            data-longtitle="true"></div>
    </div>
    <div class="flex item-center justify-between">
        <div id="userInfo" class="text-slate-300 m-auto"></div>
        <button id="signOutButton"
            class="hidden bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-150 ease-in-out">
            Вийти
        </button>
    </div>
</div>